html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.app {
  background-color: rgb(43, 43, 43);
  width: 100%;
  height: 100%;
  color: rgb(186, 186, 164);
}

.content {
  padding: 15px;
}

.form {
  width: 300px;
}

.input {
  width: 500px;
  border-color: rgb(232, 191, 106);
  background-color: rgb(60, 63, 65);
}

.button {
  color: rgb(216, 216, 216);
  border-color: rgb(232, 191, 106);
  background-color: rgb(232, 191, 106);
}

.button:hover {
  border-color: rgb(204, 120, 50);
  background-color: rgb(204, 120, 50);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
